* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Плиз добавляй эти стили, они пригодятся для браузера safari, чтобы страница не прыгала :)
// html {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ol {
  list-style-type: none;
}

li {
  display: inline;
}
.container {
  // padding-left: calc(50% - 555px);
  // padding-right: calc(50% - 555px);
  padding-inline: max(50% - 555px, 39px);

  // Для контейнеров мы записываем такие стили, например в нашем макете максимальная ширина
  // равна 1110px, а на мобилке оступы по бокам по 40px, то стили пишем такие
  // max-width: 1190px; // сразу прибавляем отступы по бокам которые в общем дают 80px
  // width: 100%;
  // padding: 0 40px;
  // margin: 0 auto;
  // overflow: hidden;
  // и у нас контейнер адаптирован до мобилки
}

// Есть более легкий способ для такой шапки на мой взгляд :). Ты могла сделать header и top отдельно,
// показывать top когда мобильная версия
// и прятать logo и search в header когда мобильная версия
// но твой вариант тоже вполне рабочий
.top {
  background-color: rgb(255, 255, 255);
  // height: 700px;
  &__menu {
    display: grid; //
    padding-block: 28px;
    border-bottom: 1px solid #dfdfdf;
  }
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  &__header a {
    color: rgb(76, 88, 102);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    transition: all 0.5s;
  }
  &__header a:hover {
    background-color: rgb(120, 117, 254);
    transform: scale(1.1);
  }
  &__header a:focus {
    background: rgb(218, 217, 251);
    color: rgb(120, 117, 254);
  }
  &__header a:active {
    color: rgb(73, 70, 180);
  }
  &__search {
    display: flex;
    gap: 30px;
    justify-content: right;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
  }
  &__search img:hover {
    color: rgb(120, 117, 254);
    transform: scale(1.1);
  }
  &__search img:focus {
    border-radius: 2px;
    background: rgb(120, 117, 254);
  }
  &__search img:active {
    background: rgb(120, 117, 254);
  }

  &__logo {
    padding-left: 5%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__info {
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 39px;
  }
  &__title {
    color: rgb(76, 88, 102);
    font-size: 60px;
    line-height: 100%;
    font-weight: 400;
    width: 444px;
  }
  &__text {
    color: rgb(133, 133, 155);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    width: 445px;
  }

  &__button {
    width: 255px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgb(120, 117, 254);
    color: rgb(120, 117, 254);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    transition: all 0.5s;
  }
  &__button:hover {
    background: rgb(120, 117, 254);
    color: white;
    transform: scale(1.1);
  }
  &__button:focus {
    box-sizing: border-box;
    border: 1px solid rgb(120, 117, 254);
    background: rgb(218, 217, 251);
    color: rgb(120, 117, 254);
  }
  &__button:active {
    background: rgb(73, 70, 180);
    color: white;
  }
  &__img {
    background-image: url(../img/simpleAdd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    width: 540px;
    margin-top: 60px;
    aspect-ratio: 540/560;
  }
}
.study {
  background: rgb(235, 235, 235);
  height: 973px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__box {
    display: flex;
    justify-content: center;
    padding-top: 114px;
    max-width: 1110px;
    width: 100%;
  }
  &__levels {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid rgb(221, 221, 221);
  }
  &__levels img {
    width: 160px;
    height: 118px;
  }
  &__level {
    display: flex;
    flex-direction: column;
  }
  &__img {
    // aspect-ratio: 730/564;
    width: max(min(100% - 380px, 730px), 330px);
  }
  &__level_name {
    color: rgb(102, 102, 102);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
  }
  &__text {
    color: rgb(133, 133, 155);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    max-width: 350px;
    width: 100%;
    &_big {
      max-width: 510px;
    }
  }
  &__name {
    color: rgb(102, 102, 102);
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    padding: 59px 0 20px 0;
    max-width: 350px;
    width: 100%;
  }
  &__item {
    display: flex;
    gap: 30px;
    padding-top: 91px;
  }
  .study__description {
    width: 350px;
  }
}

.catalog {
  height: 645px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  &__item img {
    width: 100%;
    margin-bottom: 20px;
  }
  &__item a {
    color: rgb(120, 117, 254);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    transition: all 0.5s;
  }
  &__item a:hover {
    color: rgb(73, 70, 180);
    transform: scale(1.1);
  }
  &__item a:focus {
    background: rgb(218, 217, 251);
    color: rgb(120, 117, 254);
  }
  &__item a:active {
    color: rgb(73, 70, 180);
  }
  &__view:nth-child(1) {
    background-image: url(../img/product1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__view:nth-child(2) {
    background-image: url(../img/product2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__view:nth-child(3) {
    background-image: url(../img/product3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__view:nth-child(4) {
    background-image: url(../img/product4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 330px;
  }
  &__view {
    height: 180px;
    width: 330px;
  }
  &__section {
    color: rgb(102, 102, 102);
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 21px;
  }
  &__text {
    color: rgb(133, 133, 155);
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    width: 255px;
  }
  &__circulation {
    color: rgb(181, 181, 189);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
}
.company {
  height: 315px;
  background: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  &__logo {
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    width: 255px;
    height: 135px;
  }
}
.product {
  display: flex;
  justify-content: center;
  gap: 30px;
  &__name {
    color: rgb(102, 102, 102);
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    width: 299px;
    margin: 24px 0 8px;
  }
  &__text {
    color: rgb(133, 133, 155);
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
  }
  &__button {
    color: rgb(120, 117, 254);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    box-sizing: border-box;
    border: 1px solid rgb(120, 117, 254);
    width: 255px;
    height: 70px;
    margin-top: 31px;
    transition: all 0.5s;
  }
  &__button:hover {
    background: rgb(120, 117, 254);
    color: white;
    transform: scale(1.1);
  }
  &__button:focus {
    box-sizing: border-box;
    border: 1px solid rgb(120, 117, 254);
    background: rgb(218, 217, 251);
    color: rgb(120, 117, 254);
  }
  &__button:active {
    background: rgb(73, 70, 180);
    color: white;
  }
  &__item {
    margin-top: 114px;
  }
  &__img {
    margin-top: 90px;
  }
}

.footer {
  height: 101px;
  &__top {
    height: 80px;
    background: rgb(76, 88, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 789px;
  }
  &__icons {
    display: flex;
    gap: 34px;
    align-items: center;
    transition: all 0.5s;
  }
  &__icons a:hover {
    background: rgb(218, 217, 251);
    transform: scale(1.1);
  }
  &__icons a:focus {
    border-radius: 2px;
    background: rgb(120, 117, 254);
  }
  &__icons a:active {
    background: rgb(120, 117, 254);
  }
  &__bootom {
    height: 21px;
    background-color: rgb(255, 255, 255);
  }
  &__text {
    color: rgb(76, 88, 102);
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    display: flex;
    justify-content: center;
  }
  &__text span {
    color: #bcbcbc;
  }
}

// вот такой вариант добавления адаптива запутанный, можно легко ошибиться
// хороашая практика записываит адаптив внутри каждого элемента по отдельности

/// я в группу скидывал миксины для адаптива
//Вот файл mixin.scss для адаптива. А то у Саадуева Омара были сложности с поиском таких миксинов. Эти точки должны хватить вам, не нужно плодить множество точек, потом проект сложно поддерживать.
// adaptive
@mixin _desktop {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin _tablet {
  @media (max-width: 850px) {
    @content;
  }
}
@mixin _phablet {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin _mobile {
  @media (max-width: 480px) {
    @content;
  }
}

// изучи чем отличается max-width от min-width в адаптиве и все поймешь. 
// _desktop - означает что мы переступили дексктопную версию

// Пример работы таких миксинов

.top__header {
  font-size: 18px;
  line-height: 1.6;

  // получает что от _phablet = 600 до _desktop = 960px будет такие стили
  @include _desktop {
    font-size: 16px;
    line-height: 1.4;
  }

   // получает что от _phablet = 600 до нижних точек (если нижние точки не объявлены до конца)
  @include _phablet {
    font-size: 14px;
    line-height: 1.2;
  }
}

// // table
@media (max-width: 768px) {
  .container {
    // padding-left: calc(50% - 345px);
    // padding-right: calc(50% - 345px);
    padding-inline: max(50% - 345px, 32px);
  }
  .top__logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: left;
    padding: 11px 0 11px 0;
  }
  .top__header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    border-top: 1px #dfdfdf solid;
    padding: 20px 0 20px 0;
  }

  .top__search {
    display: flex;
    gap: 30px;
    justify-content: right;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
    padding: 11px 0 11px 0;
  }
  .top__content {
    gap: 30px;
  }
  .top__info {
    height: 470px;
  }
  .top__menu {
    display: grid;
    padding: 0;
  }
  .top__title {
    font-size: 50px;
    width: 390px;
  }
  .top__text {
    width: 390px;
  }

  .study__levels {
    display: flex;
    flex-direction: column;
  }
  .study__name {
    width: 330px;
    font-size: 30px;
  }
  .study__img {
    max-width: 330px;
  }

  .study__text {
    max-width: 210px;
    &_big {
      max-width: 510px;
    }
  }
  .catalog {
    height: 1048px;
    flex-wrap: wrap;
  }
  .catalog__item {
    width: calc(50% - 15px);
  }
  .catalog__item img {
    width: 100%;
    height: 180px;
    background-color: rgb(235, 235, 235);
  }
  .company {
    height: 200px;
  }
  .company__logo {
    width: 150px;
    height: 80px;
  }
  .company__logo img:nth-child(1) {
    width: 115.88px;
    height: 32.59px;
  }
  .company__logo img:nth-child(2) {
    width: 109.41px;
    height: 31.41px;
  }
  .company__logo img:nth-child(3) {
    width: 132.35px;
    height: 12.44px;
  }
  .company__logo img:nth-child(4) {
    width: 122.94px;
    height: 15.41px;
  }
}

// // table

@media (max-width: 510px) {
  .container {
    padding-inline: max(50% - 255px, 32px);
  }

  .top__title {
    font-size: 38px;
    max-width: 287px;
  }
  .top__text {
    font-size: 18px;
    max-width: 287px;
  }

  .company {
    flex-wrap: wrap;
  }
  .study {
    height: unset;
  }
  .study__item {
    flex-wrap: wrap;
  }
  .study__description {
    margin-bottom: 60px;
  }
}
// .company__logo img{
//   height:unset;
//   height: unset;
// }
// .company__logo{
//   height:unset;
//   height: unset;
// }

// @media (min-width: 510px) {
//     .container {
//       padding-inline: max(50% - 144px, 16px);
//     }

// }
